body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: #4a4a4a;
    background-color: #f4f4f9;
}

header {
    background-color: #a29bfe; /* Lavender color */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #a29bfe; /* Lavender color */
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #8e8df3; /* Slightly darker lavender */
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: none;
}

.active {
    display: block;
}

footer {
    background-color: #a29bfe; /* Lavender color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
